:root{
    --color-principal: blue;
    --color-secundario: red;
}
body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
nav{
    background-color: var(--color-principal);
    height: auto;
}
.searchBar{
    background-color: var(--color-secundario);
    height: 8vh;
}